<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.minutemadeproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_david"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.example.minutemadeproject.activities.MainmenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        
        <activity
            android:name="com.example.minutemadeproject.DisplayLessons"
            android:label="@string/title_activity_display_lessons"
            android:parentActivityName="com.example.minutemadeproject.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.minutemadeproject.HomeActivity" />
        </activity>
        
        <activity
            android:name="com.example.minutemadeproject.Instructions"
            android:label="@string/title_activity_instructions" >
        </activity>
        
        <activity
            android:name=".activities.AddLessonActivity"
            android:label="@string/title_activity_add_lesson"
            android:parentActivityName="com.example.minutemadeproject.DisplayLessons" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.minutemadeproject.DisplayLessons" />
        </activity>

        <activity
            android:name=".activities.AssignmentMenuActivity"
            android:label="Assignments"
            android:parentActivityName="com.example.minutemadeproject.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.minutemadeproject.HomeActivity"/>
        </activity>

        <activity
                android:name=".activities.AssignmentEditActivity"
                android:label="Add/Edit Assignment"
                android:parentActivityName="com.example.minutemadeproject.AssignmentMenuActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.minutemadeproject.AssignmentMenuActivity"/>
        </activity>


        
    </application>
</manifest>
